.container {
  min-height: 100vh;
  padding: 3rem;
  background-image: linear-gradient(
    to right bottom,
    $color-white,
    $color-grey-dark-2
  );
  color: $color-grey-dark;
}

.content {
  display: flex;
  flex-direction: row;
  min-height: 87vh;
  background-color: $color-grey-light-1;
  height: 100%;
  width: 100%;
  box-shadow: 0 0.2rem 0.5rem rgba($color-black, 0.15);
  border-radius: 3px;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0;
  }
}
