.footer {
  width: 100%;
  height: 3vh;
  background-color: $color-grey-dark;
  display: flex;
  align-items: center;
}

.footer__title {
  font-size: 1rem;
  font-weight: 300;
  margin-left: 2rem;
  color: $color-grey-light-1;
}
