.header {
  background-color: $color-primary;
  padding: 0 4rem;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.2rem 0.5rem rgba($color-black, 0.15);
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 0;
  }
}
