.menu {
  background-color: $color-grey-dark-2;
  flex: 27rem 0 0;

  ul {
    list-style: none;
  }

  button {
    text-align: center;
    color: #fff;
    display: flex;
    height: 5.5rem;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    width: 100%;
    background-color: $color-grey-dark-2;
    font-size: 1.4rem;
    border: none;
    text-transform: uppercase;
    outline: none;

    cursor: pointer;

    &::before {
      content: "";
      float: left;
      background-color: $color-primary;
      height: 5rem;
      width: 0.4rem;
    }

    &::after {
      content: "";
      float: right;
      background-color: transparent;
      height: 5rem;
      width: 0.4rem;
    }
  }

  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: #fff;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      width: 100%;
      background-color: $color-grey-dark-2;
      font-size: 1.4rem;
      border: none;
      text-transform: uppercase;
      padding: 2rem 0;
      cursor: pointer;
    }
  }

  a {
    &:hover,
    &:active {
      background-color: $color-primary;
    }
  }
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
}
