.login {
  height: 100vh;
  background-image: $background-login;
  background-size: cover;

  &__image {
    background-image: $background-logo;
    background-size: cover;
    width: 20rem;
    height: 4rem;
    margin-bottom: 1rem;
  }

  &__panel-container {
    background-color: $color-primary;
    padding: 4rem;
    clip-path: polygon(0 30%, 40rem 30%, 50rem 50%, 40rem 70%, 0 70%);
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__form {
    width: 35rem;
    font-size: 1.6rem;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__input {
    width: inherit;
    border: none;
    border-bottom: 1px solid $color-white;
    color: $color-white;
    background-color: $color-primary;
    padding: 0.5rem;
    margin: 2rem;
    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder {
      /* Edge */
      color: $color-white;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $color-white;
    }

    &::placeholder {
      color: $color-white;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: $color-white;
      -webkit-box-shadow: 0 0 0px 1000px $color-primary inset;
      background-color: $color-primary;
    }
  }
}

@media screen and (max-width: 1200px) {
  .login {
    &__panel-container {
      justify-content: center;
      align-items: center;
      clip-path: none;
      padding: 0;
    }
  }
}
