//Colors Padrão
$color-primary: #0091ce;
$color-primary-light: #00a6ec;
$color-primary-dark: #00628b;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #1f232c;
$color-grey-dark-2: #434c63;
$color-white: #fff;
$color-black: #000;

//Colors Customizado
// $color-primary: #347474;
// $color-primary-light: #42b883;
// $color-primary-dark: #35495e;
// $color-grey-light-1: #f7f7f7;
// $color-grey-light-2: #eee;
// $color-grey-dark: #1f232c;
// $color-grey-dark-2: #434c63;
// $color-white: #fff;
// $color-black: #000;

//Font
$default-font-size: 1.6rem;

//Images
$background-logo: url(../../img/logo_branco.png);
$background-login: linear-gradient(
    to right bottom,
    rgba($color-grey-dark, 1),
    rgba($color-grey-dark, 0.8)
  ),
  url(../../img/architecture.jpg);

//Shadow
$box-shadow-1: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
