.button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 3rem;
  display: inline-block;
  border: none;
  border-radius: 10rem;
  position: relative;
  text-align: center;

  &--primary {
    background-color: $color-white;
    color: $color-primary;
  }

  &--block {
    width: 100%;
  }

  &:focus,
  &:active {
    outline: none;
    background-color: $color-grey-light-2;
  }
}
