.card {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  padding-bottom: 0rem;

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 0.9rem !important;
  }

  &__paragraph {
    margin-bottom: 0.7rem !important;
  }

  &__cover {
    margin: 0.5rem;
    width: 20rem;
    text-align: center;

    & > img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 800px) {
  .card {
    flex-direction: column;

    &__cover {
      margin: 0.5rem auto;
    }
  }
}
