.chart__tooltip {
  font-size: 1.2rem;
  background-color: $color-white;
  color: $color-grey-dark;
  border-radius: 4px;
  padding: 1rem 2rem;
  box-shadow: $box-shadow-1;
}

.chart {
  &__legend {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__list {
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    color: $color-grey-dark;
  }

  &__item {
    padding: 0.8rem;
    text-align: center;
    flex: 1 0 0;
  }
}
